#root {
  width: 100vw;
  height: 100vh;
}
body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  background-color: rgba(28, 134, 209, 1);
  overflow-x: hidden;
  overflow-y: scroll;
}